<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <div>Author of this page is {{author}}</div>
          <div>City in which author lives is {{city}}</div>
          <img src="img/robot.png" class="potrait">
        </div>
          {{>footer}}
    </body>
</html>