<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <div>This website is build with the help of {{helper}}</div>
          <div>Course is website is all about is {{course}}</div>
        </div>
          {{>footer}}
    </body>
</html>