<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <div>You can contact {{helper}}, If you need any help.</div><br>
          <div>contact number is: 6547897654</div><br>
          <div>mail id: notcorrect@gmail.com</div><br>
        </div>
          {{>footer}}
    </body>
</html>